<div class="content-container" ng-controller="CreateRoleController">

    <div class="w3-panel cbblue w3-center">
        <ul class="breadcrumb">
            <li>
                <u>
                    <a href="#/system">{{'label.anchor.system' | translate}}</a>
                </u>
            </li>
            <li>
                <u>
                    <a href="#/admin/roles">{{'label.anchor.viewroles' | translate}}</a>
                </u>
            </li>

            <li class="active color">{{'label.anchor.addrole' | translate}}</li>
        </ul>
    </div>
    <form name="addroleform" novalidate="" class="card form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.addrole' | translate}}</legend>

            <div class="form-group">
                <label class="control-label col-sm-2" for="name">{{'label.input.name' | translate}}
                    <span class="required">*</span>
                </label>

                <div class="col-sm-3">
                    <input id="name" type="text" name="name" ng-model="formData.name" class="form-control" required late-Validate/>
                </div>
                <div class="col-sm-3">
                    <form-validate valattributeform="addroleform" valattribute="name" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" name="" for="description">{{'label.input.description' | translate}}
                    <span class="required">*</span>
                </label>

                <div class="col-sm-3">
                    <textarea id="description" type="text" rows="2" name="description" ng-model="formData.description" class="form-control" required
                        late-Validate></textarea>
                </div>
                <div class="col-sm-3">
                    <form-validate valattributeform="addroleform" valattribute="description" />
                </div>
            </div>

            <div class="col-md-offset-3">

                <button id="save" type="submit" class="btn btn cbblue" has-permission='CREATE_ROLE'>{{'label.button.save' | translate}}</button>
                <a id="cancel" href="#/admin/roles" class="btn btn w3-red">{{'label.button.cancel' | translate}}</a>
            </div>
        </fieldset>
    </form>
</div>