<div class="content-container" ng-controller="EditExternalServicesConfigurationController">

    <div class="w3-panel cbblue w3-center">
        <ul class="breadcrumb">
            <li>
                <u>
                    <a href="#/system">{{'label.anchor.system' | translate}}</a>
                </u>
            </li>
            <li>
                <u>
                    <a href="#/externalservices">{{'label.anchor.externalServices' | translate}}</a>
                </u>
            </li>

            <li class="active color">{{'label.anchor.editExternalServicesConfiguration' | translate}}</li>
        </ul>
    </div>
    <form name="editExternalServicesConfigurationForm" novalidate="" class="card form-horizontal well" ng-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{ 'label.anchor.editExternalServicesConfiguration' | translate }}</legend>
            <div class="form-group" ng-repeat="(names, values) in formData">
                <label class="control-label col-sm-2" for="configname">{{names}}</label>

                <div class="col-sm-3">
                    <input type="text" id="configname" name="configname" ng-model="formData[names]" class="form-control" required late-Validate/>
                </div>
            </div>

            <div class="col-md-offset-3">

                <button id="save" type="submit" ng-disabled="!editExternalServicesConfigurationForm.$valid" has-permission='UPDATE_EXTERNALSERVICES'
                    class="btn btn cbblue">{{ 'label.button.save' | translate }}
                </button>
                <button id="cancel" type="reset" class="btn btn w3-red" ng-click="cancel()">{{ 'label.button.cancel' | translate }}
                </button>
            </div>
        </fieldset>
    </form>
</div>