<div class="content-container" ng-controller="ViewFinancialActivityController">
        <div class="w3-panel cbblue w3-center">
                <ul class="breadcrumb">
                    <li>
                        <u>
                            <a href="#/accounting">{{'label.anchor.accounting' | translate}}</a>
                        </u>
                    </li>
                    <li>
                        <u>
                            <a href="#/financialactivityaccountmappings">{{'label.anchor.financialactivity.accountmappings' | translate}}</a>
        
                        </u>
                    </li>
                    <li class="active color">{{'label.anchor.viewfinancialmapping' | translate}}</li>
                </ul>
            </div>
    <script type="text/ng-template" id="deletemapping.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>
            <button class="btn cbblue" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn w3-red" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="toolbar">
            <h4>{{ 'label.heading.viewfinancialmapping' | translate }}</h4>
            <div class="col-md-8">
              <a href="#/editfinancialactivitymapping/{{mapping.id}}" class="btn cbblue pull-right" has-permission='UPDATE_FINANCIALACTIVITYACCOUNT'>
                <i class="fa fa-edit "></i>{{'label.button.edit' | translate}} </a>
                <a class="btn w3-red pull-right" ng-click="deletemapping()" has-permission='DELETE_FINANCIALACTIVITYACCOUNT'><i class="fa fa-trash-o"></i>{{'label.button.delete' | translate}}</a>
              </div>
            </div>
          </div>
        </div>
    	    	<hr/>
    	    	<div class="row">
    				    <div class="col-md-6">
    					    <table class="table table-bordered">
    					        <tr>
    					            <th class="table-bold-acc">{{'label.heading.financialactivity' | translate}}</th>
    					            <td><span class="padded-td">{{mapping.financialActivityData.name | translate }}</span></td>
    					        </tr>
    					        <tr>
    					            <th class="table-bold-acc">{{ 'label.heading.financial.activity.account.name' | translate }}</th>
    					            <td><span class="padded-td">{{mapping.glAccountData.name}}({{mapping.glAccountData.glCode}})</span></td>
    					        </tr>
    					    </table>
    				    </div>
    		    </div>
    	    </div>
    </div>
</div>
