<div class="content-container" ng-controller="CreateProvisoningEntriesController">

    <div class="w3-panel cbblue w3-center">
        <ul class="breadcrumb">
            <li>
                <u>
                    <a href="#/accounting">{{'label.anchor.accounting' | translate}}</a>
                </u>
            </li>
            <li>
                <u>
                    <a href="#/viewprovisioningentries">{{'label.anchor.viewprovisioningeentries' | translate}}</a>
                </u>
            </li>
            <li class="active color">{{'label.anchor.createprovisioningeentries' | translate}}</li>
        </ul>
    </div>

    <div class="card">
        <div class="content">
            <div class="toolbar"></div>
            <br>
            <form name="createprovisioningentryform" novalidate="" class="form-horizontal" rc-submit="submit()">
                <api-validate></api-validate>
                <fieldset style="padding-top: 50px; padding-bottom: 20px;">
                        <legend>{{'label.anchor.createprovisioningeentries' | translate}}</legend>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="submittedOnDate">{{'label.input.provisioningcriteria' | translate}}
                            <span class="required">*</span>
                        </label>

                        <div class="col-sm-3">
                            <input type="text" id="submittedOnDate" name="submittedon" datepicker-pop="dd MMMM yyyy" ng-model="submitteddate" is-open="opened"
                                min="'2000-01-01'" max="restrictDate" class="form-control" />
                        </div>

                        <div class="col-sm-3">
                            <input type="checkbox" name="name1" ng-model="formData.createjournalentries" /> {{'Create Journal Entries'}}
                        </div>

                        <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_PROVISIONING_ENTRIES'>
                            {{'label.button.save' | translate}}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>